doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(href="favicon.ico")
    title Cakes
  body
    header(class="header")
      div(class="container header__wrapper")
        div(class="hamburger-menu")
          input(id="menu__toggle" type="checkbox")
          label(class="menu__btn" for="menu__toggle")
            span
          ul(class="menu__box")
            -const menu = ['Home', 'Gallery', 'Categories', 'Pages', 'My Account', 'My WishList', 'Login'];
            -for (let i = 0; i < menu.length; i++)
             li
              a(class="menu__item" href="#")= menu[i]
        div(class="logo") Cakes
        nav(class="header__menu")
          ul(class="header__list")
            -const desktopMenu = ['Наши Торты', 'Индивидуальный заказ', 'Отзывы', 'О нас', 'Как заказать', 'Контакты'];
            -for(let i = 0; i < desktopMenu.length; i++)
              li
                a(class="header__list__item" href="#")= desktopMenu[i]
        div(class="header__phone") +7 906 899 92 96
    section(class="promo-block")
      div(class="promo-block__box container ")
        div
          h1 Торты
            div на заказ
          h5 Ручная работа
          a(href="#") Выбрать Торт
        div(class="promo-block__services")
          div Натуральные ингредиенты
          div Доставка бесплатно при заказе от 2000 рублей
    main(class="main container")
      section(class="categories")
        h4(class="categories__title") Наши Торты
        div(class="categories__images")
          a(href="#")
            img(src=`assets/images/category-1.png` alt="categories")
            h6 Классические
              span 24 вида
            span(class="arrow arrow-bg") Смотреть
          a(href="#")
            img(src=`assets/images/category-2.png` alt="categories")
            h6 Муссовые
              span 12 вида
            span(class="arrow")
          a(href="#")
            img(src=`assets/images/category-3.png` alt="categories")
            h6 Свадебные
              span 24 вида
            span(class="arrow")
          a(href="#")
            img(src=`assets/images/category-4.png` alt="categories")
            h6 Мужчинам
              span 24 вида
            span(class="arrow")
          a(href="#")
            img(src=`assets/images/category-6.png` alt="categories")
            h6 Детские
              span 24 вида
            span(class="arrow arrow-bg") Смотреть
          a(href="#")
            img(src=`assets/images/category-5.png` alt="categories")
            h6 Женщинам
              span 24 вида
            span(class="arrow")
      section(class="order-block")
        h4(class="order-block__title") Индивидуальный заказ
          span Соберите торт в 3 шага
        div(class="order-block__items")
          div(class="order-block__item")
            h5 01
              span Выберите начинку
            div(class="swiper-container")
              div(class="swiper-wrapper")
                div(class="swiper-slide")
                  div(class="order-block__image")
                    img(src="assets/images/order-1.png" alt="order")
                  div(class="order-block__description")
                    h6 Шоколадный ганаш
                    p "Ароматный шоколадный бисквит, густой шоколадный крем – самый шоколадный из всех возможных десертов!"
                    span 1000 руб/кг
                    a(href="#") Выбрать
                div(class="swiper-slide") slide 2
                div(class="swiper-slide") slide 3
              div(class="swiper-button-next")
              div(class="swiper-button-prev")
