doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(href="favicon.ico")
    title Cakes
  body
    header(class="header")
      div(class="container header__wrapper")
        div(class="hamburger-menu")
          input(id="menu__toggle" type="checkbox")
          label(class="menu__btn" for="menu__toggle")
            span
          ul(class="menu__box")
            -const menu = ['Home', 'Gallery', 'Categories', 'Pages', 'My Account', 'My WishList', 'Login'];
            -for (let i = 0; i < menu.length; i++)
             li
              a(class="menu__item" href="#")= menu[i]
        div(class="logo") Cakes
        nav(class="header__menu")
          ul(class="header__list")
            -const desktopMenu = ['Наши Торты', 'Индивидуальный заказ', 'Отзывы', 'О нас', 'Как заказать', 'Контакты'];
            -for(let i = 0; i < desktopMenu.length; i++)
              li
                a(class="header__list__item" href="#")= desktopMenu[i]
        div(class="header__phone") +7 906 899 92 96
    section(class="promo-block")
      div(class="promo-block__box container ")
        div
          h1 Торты
            div на заказ
          h5 Ручная работа
          a(href="#") Выбрать Торт
        div(class="promo-block__services")
          div Натуральные ингредиенты
          div Доставка бесплатно при заказе от 2000 рублей
    main(class="main container")
      section(class="categories")
        h4(class="categories__title") Наши Торты
        div(class="categories__images")
          a(href="#")
            img(src=`assets/images/category-1.png` alt="categories")
            h6 Классические
              span 24 вида
            span(class="arrow arrow-bg") Смотреть
          a(href="#")
            img(src=`assets/images/category-2.png` alt="categories")
            h6 Муссовые
              span 12 вида
            span(class="arrow")
          a(href="#")
            img(src=`assets/images/category-3.png` alt="categories")
            h6 Свадебные
              span 24 вида
            span(class="arrow")
          a(href="#")
            img(src=`assets/images/category-4.png` alt="categories")
            h6 Мужчинам
              span 24 вида
            span(class="arrow")
          a(href="#")
            img(src=`assets/images/category-6.png` alt="categories")
            h6 Детские
              span 24 вида
            span(class="arrow arrow-bg") Смотреть
          a(href="#")
            img(src=`assets/images/category-5.png` alt="categories")
            h6 Женщинам
              span 24 вида
            span(class="arrow")
      section(class="order-block")
        h4(class="order-block__title") Индивидуальный заказ
          span Соберите торт в 3 шага
        div(class="order-block__items")
          div(class="order-block__item")
            h5 01
              span Выберите начинку
            div(class="swiper-container")
              div(class="swiper-wrapper")
                div(class="swiper-slide")
                  div(class="order-block__image")
                    img(src="assets/images/order-1.png" alt="order")
                  div(class="order-block__description")
                    h6 Шоколадный ганаш
                    p "Ароматный шоколадный бисквит, густой шоколадный крем – самый шоколадный из всех возможных десертов!"
                    span 1000 руб/кг
                    a(href="#") Выбрать
                div(class="swiper-slide") slide 2
                div(class="swiper-slide") slide 3
              div(class="swiper-pagination")
              div(class="swiper-button-next")
              div(class="swiper-button-prev")
          div(class="order-block__item")
            h5 02
              span Размер
            div(class="circle-container")
              div(class="swiper-wrapper circle-wrapper")
                div(class="swiper-slide circle-slide")
                  div(class="order-block__image")
                    img(src="assets/images/circle-1.png" alt="order")
                  div(class="order-block__description")
                    p(class="circle_text") 17-18 см
                      i (1 кг – 6 персон)
                    a(class="circle-btn" href="#") Выбрать
                div(class="swiper-slide circle-slide")
                  div(class="order-block__image")
                    img(src="assets/images/circle-2.png" alt="order")
                  div(class="order-block__description")
                    p(class="circle_text") 17-18 см
                      i (1 кг – 6 персон)
                    a(class="circle-btn" href="#") Выбрать
                div(class="swiper-slide circle-slide")
                  div(class="order-block__image")
                    img(src="assets/images/circle-3.png" alt="order")
                  div(class="order-block__description")
                    p(class="circle_text") 17-18 см
                      i (1 кг – 6 персон)
                    a(class="circle-btn" href="#") Выбрать
                div(class="swiper-slide circle-slide")
                  div(class="order-block__image")
                    img(src="assets/images/circle-4.png" alt="order")
                  div(class="order-block__description")
                    p(class="circle_text") 17-18 см
                      i (1 кг – 6 персон)
                    a(class="circle-btn" href="#") Выбрать
              div(class="swiper-pagination circle-pagination")
              div(class="swiper-button-next circle-arrow")
              div(class="swiper-button-prev circle-arrow")
          div(class="order-block__item")
            h5 03
              span Оформление
            div(class="choice-container")
              div(class="swiper-wrapper circle-wrapper")
                div(class="swiper-slide circle-slide choice-slide")
                  div(class="order-block__image")
                    img(src="assets/images/view-1.png" alt="order")
                  div(class="order-block__description")
                    p(class="circle_text choice") 17-18 см
                      i (1 кг – 6 персон)
                    a(class="circle-btn" href="#") Выбрать
                div(class="swiper-slide circle-slide choice-slide")
                  div(class="order-block__image")
                    img(src="assets/images/view-2.png" alt="order")
                  div(class="order-block__description")
                    p(class="circle_text choice") 17-18 см
                      i (1 кг – 6 персон)
                    a(class="circle-btn" href="#") Выбрать
              div(class="order-block__choice")
                h4 Ваш выбор
                div
                  h6 Начинка
                  input(value="Шоколадный ганаш")
                div
                  h6 Начинка
                  input(value="Шоколадный ганаш")
                div
                  h6 Начинка
                  input(value="Шоколадный ганаш")
                div
                  a(href="#") заказать торт
              div(class="swiper-pagination choice-pagination")
              div(class="swiper-button-next")
              div(class="swiper-button-prev")
      section(class="reviews")
        div(class="reviews__wrapper")
          h3(class="reviews__title") Отзывы
          div(class="swiper-container")
            div(class="swiper-wrapper")
              div(class="swiper-slide")
                div(class="reviews__block")
                  div(class="reviews__avatar")
                    img(src="assets/images/review-avatar.png")
                  div(class="reviews__text")
                    h6 Мария
                      span юрист, 33 года
                    p "Заказывала торт брауни на юбилей мужа.
                      | Гости были в восторге! Отдельное спасибо
                      | за своевременную доставку! Теперь будем заказывать торты только у вас для наших семейных праздников:)"
              div(class="swiper-slide")
            div(class="swiper-pagination")
            div(class="swiper-button-next")
            div(class="swiper-button-prev")
      section(class="about")
        h3(class="about__title") О нас
        div(class="about__box")
          div(class="image")
            div
              img(src="assets/images/about.png")
            div(class="socials")
              a(href="#")
              a(href="#")
              a(href="#")
          div(class="about__description")
            h5 О кондитере
            h6 Кондитер – как призвание
            p "
              | Павел — профессиональный повар в
              | различных гастрономических областях, но однажды его сердце покорило кондитерское искусство.
              | С ранних лет он увлекался утонченным мастерством и обратился к своим талантам
              | как кондитер. "
            h6 Принцип – натуральные ингредиенты
            p "
              | Сегодня Павел радует изделиями не только близких, но и тех, кто предпочитает качественную продукцию для торжества,
              |  а главным принципом является выбор натуральных ингредиентов. "
        div(class="about__quotes")
          span
          p Я за простые рецепты. В Италии это называют cucina povera: когда обычные ингредиенты превращаются в божественное блюдо.
          div
            img(src="assets/images/about-sign.png")
    section(class="advantages")
      h3 Наши преимущества
      h6 Почему нас выбирают ?
      div(class="advantages__list container")
        div(class="items")
          div(class="item")
            div
              img(src="assets/images/advantage-icon-1.png" alt="icons")
            div
              h4 Без искусственных добавок
              p "Работаем  с натуральными ингредиентами
                | и свежими продуктами
                | "
          div(class="item")
            div
              img(src="assets/images/advantage-icon-2.png" alt="icons")
            div
              h4 Без искусственных добавок
              p "Работаем  с натуральными ингредиентами
                | и свежими продуктами
                | "
        div(class="advantages__text")
          h3 Забота о клиентах
          h6 Для нас важно
          p "Нам важно чтобы каждый торт был безупречным, как внутри, так и снаружи, чтобы он был создан исключительно
            | для вас и для вашего события."

