.order-block {
  margin-top: 3rem;
  font-family: $titles_ff;
  .swiper-container {
    width: 100%;
    height: 100%;
    .swiper-button-next, .swiper-button-prev {
      top: 30% !important;
    }
  }
  &__title {
    font-size: 24px;
    font-weight: 700;
    color: #2d2829;
    text-align: center;
    margin-bottom: 30px;
    span {
      margin-top: 5px;
      display: block;
      color: #32313d;
      font-size: 22px;
      font-style: italic;
      font-weight: 300;
    }
  }
  &__item {
    padding: 20px;
    background-color: $header_bg;
    min-height: 430px;
    min-width: 280px;
    display: flex;
    flex-direction: column;
    h5 {
      @include flexCenter(flex, center, center, row);
      color: #f50049;
      font-size: 30px;
      font-weight: 700;
      letter-spacing: 0.05px;
      margin-bottom: 20px;
      span {
        display: inline-block;
        margin-left: 10px;
        letter-spacing: 0.50px;
        font-size: 16px;
      }
    }
  }
  .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  &__image {
    margin-bottom: 20px;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    color: #2f2f2f;
    h6 {
      font-size: 16px;
      font-weight: 700;
      margin: 10px 0;
    }
    p {
      font-size: 14px;
    }
    span {
      font-weight: 700;
      display: block;
      margin: 17px 0;
      font-size: 18px;
    }
    a {
      border-radius: 26px;
      color: $header_bg;
      background-color: #f50049;
      padding: 21px 62px;
    }
  }
}

@media screen and (min-width: 768px){
  .order-block {
    &__item {
      //align-items: center;
      //flex-direction: row;
      h5 {
        align-self: flex-start;
      }
    }
    .swiper-slide {
      padding: 0 70px;
      flex-direction: row;
    }
    &__image {
      margin-right: 20px;
    }
  }
}
